@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
}
section{
    padding: 100px 100px;
}
body{
    min-height: 110vh;
}
.hh5 {
    color: #CECECE;
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 24px; 
    letter-spacing: 0.84px;
}
.pa{
    padding-left: 28px;
}

.paragraph-text{
    color: #6E6E6E; 
    font-size: 17px; 
    font-weight: 400; 
    line-height: 26px;
}

/*HEADER START*/
header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}
header.sticky{
    background: #212121;
    padding: 10px 100px;
}
header .title-head{
    display: flex;
    padding-right: 100px;
}
header .logo{
    color: #fff;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: none;
}
.span{
    color: gray;
}
.active{
    border-bottom: 1px white solid; 
  }
header .navigation{
    width: 40%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
header .navigation a{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    line-height: 24px; 
    letter-spacing: 0.84px;
}
header .navigation a:hover,
header .con .btn:hover{
    background: #5882f7;
    justify-content: center; 
    align-items: center;  
    word-wrap: break-word;
    border-radius: 5px; 
    padding: 5px;
    text-decoration: none   ;
    color: white;
}
header .con{
    display: flex;
    padding-left: 100px;
    gap: 15px;
}
header .con .btn{
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    background: #272635; 
    justify-content: center; 
    align-items: center; 
    display: flex;
    color: white; 
    font-size: 14px;
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 24px; 
    letter-spacing: 0.84px; 
    word-wrap: break-word;
    text-decoration: none;
    border-radius: 5px;
}
header .con a{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    line-height: 24px; 
    letter-spacing: 0.84px;
    padding-top: 10px; 
    padding-bottom: 10px; 
}
.menu-btn{
    color: white;
    cursor: pointer;
    display: none;
}
/*HEADER END*/


/*MAIN START*/
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/cover.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main .content{
    max-width: 800px;
}
.main .content h2{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}
.gray {
    color: rgba(255, 255, 255, 0.75); 
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
}
.main .btn{
    color: #fff;
    background: #272635; 
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing:  0.84px;
    border-radius: 2px;
    margin-top: 30px;
    transition: 0.5s ease;
    line-height: 24px;
}
.btn:hover, .btns:hover{
    background: #5882f7;
}
.btns{
    color: #272635;
    background: #fff; 
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    margin-top: 30px;
    transition: 0.5s ease;
}
/*MAIN END*/


/*ABOUT US START*/
.about{
    background: white;
}
.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about .content .col-left{
    position: relative;
    width: 100%;
}
.about .content .col-right{
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.about .content .col-right2 .column1 .img-card{
    position: relative;
    width: 100%;
    min-height: 450px;
    border: 5px solid rgb(154, 41, 41);
}
.about .content .col-left .img-card .wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 575px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 130px;
}
.about .content .col-left .img-card .wrap-1{
    position: absolute;
    margin-top: 220px;
    margin-bottom: 50px;
    width: 260px;
    height: 420px;
    border-radius: 10px;
    border: 5px solid white;
}
.about .content .col-right .content-title{
    color:#2D2D2D; 
    font-size: 50px; 
    font-weight: 700; 
    text-transform: capitalize; 
    line-height: 59px;
}
.about .faf {
    color: #CECECE; 
    font-size: 30px; 
    font-weight: 900;
}
.about h4{
    color: #2D2D2D; 
    font-size: 20px; 
    font-weight: 700; 
    line-height: 29px;
}
.about .pa{
    padding-left: 45px;
}
.about .btn{
    color: white;
    background: #272635; 
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing:  0.84px;
    border-radius: 2px;
    margin-top: 30px;
    transition: 0.5s ease;
    line-height: 24px;
    font-size: 14px; 
    letter-spacing: 0.84px;
}
.btn:hover{
    background: #5882f7;
}
/*ABOUT US END*/


/*OUR SERVICES START*/
.services{
    background: #F9F9F9;
}
.services .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: row;
}
.services .content .row-1{
    display: inline-block;
}
.services .content .col-left,
.services .content .col-right1,
.services .content .col-right2{
    position: relative;
    width: 75%;
    margin-right: 30px;
}
.services .content .col-right1,
.services .content .col-right2{
    position: relative;
    flex: 100%;
    width: 100%;
    padding-bottom: 70px;
}
.services .content .col-right1 .img-card,
.services .content .col-right2 .img-card{
    position: relative;
    width: 100%;
    min-height: 180px;
    display: inline-block;
}
.services .content .col-right1 .img-card img,
.services .content .col-right2 .img-card img{
    position: absolute;
    width: 400px;
    height: 240px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.services .content .col-left .content-title{
    color: #2D2D2D; 
    font-size: 45px; 
    font-weight: 700; 
    text-transform: capitalize; 
    line-height: 59px;
}
.services .content .col-right1 .learn,
.services .content .col-right2 .learn  {
    color: #A6A6A8; 
    font-size: 14px;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 0.84px; 
    word-wrap: break-word;
} 
.services .btn, 
.gallery .btn, 
.main2 .btn{
    color: white;
    background: #272635; 
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing:  0.84px;
    border-radius: 2px;
    margin-top: 30px;
    transition: 0.5s ease;
    line-height: 24px;
    font-size: 14px; 
    letter-spacing: 0.84px;
}
.btn:hover{
    background: #5882f7;
}
.services h4{
    color: #2D2D2D; 
    font-size: 20px; 
    font-weight: 700; 
    line-height: 29px;
}
.services .textbox{
    background: white; 
    margin-left: 230px;
    margin-top: 10px;
    position: relative;
    padding: 30px;
}
/*OUR SERVICES END*/


/*SAVE MONEY START*/
.save{
    background: white;
}
.save .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 70px;
}
.save .content .col-left{
    position: relative;
    width: 100%;
}
.save .content .col-right{
    position: relative;
    width: 50%;
    margin-top: 30px;
    margin-right: 35px;
}
.save .content .col-left .img-card{
    display: flex;
    gap: 3px;
    width: 35px;
    height: 90vh;
} 
.save .content .col-left .img-card .uno{
    width: 40vh;
    height: 430px;
    object-fit: cover;
    border-radius: 15px;
}
.save .content .col-left .img-card .dos{
    height: 600px;
    width: 38vh;
    border-radius: 10px;
    margin-left: 15px;
}
.save .content .col-left .img-card .tres{
    height: 330px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 440px;
    margin-left: -495px;
    width: 40vh;
}
.mes {
    background: #272635; 
    border: 1px solid transparent;
    color: white;
    height: 150px;
    margin-top: 610px;
    margin-left: -240px;
    padding: 7px;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 75px;
    justify-content: center;
    display: inline-block;

}
.mes .rate h1{
    font-size: 45px;
    color: white;
    font-weight: 700; 
    line-height: 59px;
    display: inline-flex;
}
.mes .rate h1 span{
    color: rgba(255, 255, 255, 0.75); 
    font-size: 18px; 
    line-height: 27px;
}
.mes .rate h3{
    color: rgba(255, 255, 255, 0.75); 
    font-size: 20px; 
    font-weight: 700; 
    line-height: 29px;
}
iframe{
    border-radius: 10px;
    margin-left: 12px;
}
.save .content .col-right .content-title{
    color:#2D2D2D; 
    font-size: 50px; 
    font-weight: 700; 
    text-transform: capitalize; 
    line-height: 59px;
}
.save .faf {
    color: #CECECE; 
    font-size: 30px; 
    font-weight: 900;
}
/*SAVE MONEY END*/

/*WHY CHOICE US START*/
.wcu{
    background: #272635; 
}
.wcu .content{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.wcu .content .content-title{
    color: white; 
    font-size: 45px; 
    font-weight: 700; 
    text-transform: capitalize; 
    line-height: 59px;
}
.wcu .content .col-left{
    position: relative;
    width: 100%;
}
.wcu .col-left .wcu-flex {
    position: relative;
    display: inline-block;
}
.wcu .content .col-right{
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.wcu .content .col-right .paragraph-text{
    color: rgba(255, 255, 255, 0.75);
    font-size: 17px;
}
.wcu .faf {
    color: #CECECE; 
    font-size: 30px; 
    font-weight: 900;
}
.wcu h4{
    color: #2D2D2D; 
    font-size: 18px; 
    font-weight: 600; 
    line-height: 29px;
}
.wcu .content .col-left1{
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.wcu .col-left1 img{
    position: relative;
    width: 120vh;
    height: 230px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.wcu .content .col-right2{
    position: absolute;
    margin-top: 75px;
    margin-left: 250px;
}
.wcu .col-right2 .textbox{
    position: relative;
    padding: 30px;
    margin-left: 15px;
    display: inline-block;
    background: white;
}
.wcu .pa{
    padding-left: 40px;
}
/*WHY CHOICE US END*/

/*OUR VISION START*/
.vision .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.vision .content .col-left{
    position: relative;
    width: 100%;
}
.vision .content .col-left .img-card{
    position: relative;
    width: 100%;
    min-height: 450px;
}
.vision .content .col-left .img-card img{
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}
.vision .content .col-right{
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.vision .content .col-right .content-title{
    color: #2D2D2D; 
    font-size: 40px; 
    font-weight: 700; 
    text-transform: capitalize; 
    line-height: 59px;
}
.vision .content .col-right .paragraph-text{
    color: #6E6E6E; 
    font-size: 17px; 
    font-weight: 400; 
    line-height: 26px;
}
.vision .content .col-left1,
.vision .content .col-right1{
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.vision .content .col-left1 .textboxx{
    padding: 22px; 
    background: #272635; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 20px; 
    display: inline-flex;
    color: white;
    font-size: 20px; 
    font-weight: 700; 
    line-height: 29px;
    margin-right: 20px
}
.vision .content .col-left1 .textboxs{
    padding: 22px; 
    background: white; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 20px; 
    display: inline-flex;
    font-size: 20px; 
    font-weight: 700; 
    line-height: 29px;
    margin-right: 20px
}
.vision .content .col-left1 .textbox{
    padding: 22px; 
    background: white; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 20px; 
    display: inline-flex;
    font-size: 20px; 
    font-weight: 700; 
    line-height: 29px;
}
.vision .content .col-left1 .textboxx .paragraph-text{
    color: rgba(255, 255, 255, 0.75); 
    font-size: 17px; 
    font-weight: 400; 
    line-height: 26px;
}
.vision .textbox h4{
    color: #2D2D2D; 
    font-size: 20px; 
    font-weight: 700; 
    line-height: 29px;
}
.vision .content .col-right1{
    position: relative;
    width: 50%;
}
.vision .content .col-right1 .content-title{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}
.vision .content .col-right1 .paragraph-text{
    color: #6E6E6E; 
    font-size: 17px; 
    font-weight: 400; 
    line-height: 26px;
}
/*OUR VISION END*/

/*MY GALLERY START*/
.gallery{
    background: #F9F9F9;
    text-align:  center;
}
.gallery .gallery-title{
    color: #2D2D2D; 
    font-size: 45px; 
    font-weight: 700; 
    text-transform: capitalize; 
    line-height: 59px;
}
.gallery .personal{
    display: inline-block;
    justify-content: space-between;
}
.gallery .personal .gal{
    margin-left: 50px;
    margin-right: 50px;
}
.gallery .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}
.gallery .content .card{
    width: 340px;
    margin: 15px;
}
.gallery .content .card .card-img{
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
}
.gallery .content .card .card-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
}
.gallery .content .card .card-img img:hover{
    transform: scale(1.2);
}
/*MY GALLERY END*/

/*SECOND MAIN START*/
.main2{
    text-align: center;
    background-image: url(images/fam4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    align-items: center;
}
.main2 .mainnn, .testimonials .mainnn{
    font-size: 60px; 
    font-weight: 700; 
    text-transform: capitalize; 
    line-height: 78px;
}
/*SECOND MAIN END*/

/*HOW ITS WORK START*/
.hworks .content{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.hworks .content .content-title{
    color: #2D2D2D; 
    font-size: 45px;
    font-weight: 700; 
    text-transform: capitalize; 
    line-height: 59px;
}
.hworks .content .col-left{
    position: relative;
    width: 100%;
    padding-right: 60px;
}
.hworks .content .col-left.paragraph-text{
    color: #6E6E6E; 
    font-size: 17px; 
    font-weight: 400; 
    line-height: 26px;
    text-align: justify;
} 
.hworks .content .col-right img{
    position: relative;
    width: 600px;
    height: 300px;
    border-radius: 10px;
}
.hworks h1 {
    color: #CECECE;;
    font-size: 35px;
    margin-bottom: 20px;
}
.hworks h3{
    color: #2D2D2D;
    margin-bottom: 8px;
}
.hworks .col-left .wcu-flex{
    display: inline-block;
    flex-direction: column;
}
.hworks .col-left .wcu-flex .textbox{
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    display: inline-block;
}
.hworks .blue{
    background:  #272635;
}
.hworks .grayy{
    background: #F9F9F9;
    color: #6E6E6E;
}
/*HOW ITS WORK END*/

/*TESTIMONIALS START*/
.testimonials{
    text-align: center;
    background-image: url(images/fam5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    align-items: center;
}
.testimonials .mainnn{
    font-size: 40px;
}
.testimonials .wcu-flex .textbox{
    padding: 20px;
    margin-right: 20px;
    align-items: center;
    background: white;
    display: inline-block;
}
.testimonials .h4 {
    color: #EFA536; 
    font-size: 20px;
    margin-bottom: 20px;
}
.testimonials h3{
    color: #2D2D2D; 
    font-size: 20px; 
    font-weight: 700; 
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.testimonials p{
    margin-bottom: 20px;
}
/*TESTIMONIALS END*/

/*RATING START*/
.rating{
    background: #272635;
 }
 .rating .content{
     position: relative;
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
 }
 .rating .col-left .rate-flex{
     position: relative;
     text-align: center;
 }
 .rating .col-left .rate-flex .rate{
     display: inline-block;
     margin-right: 50px;
     margin-left: 50px;
     
 }
 .rating .col-left .rate-flex .rate h1{
     font-size: 45px;
     color: white;
     font-weight: 700; 
     line-height: 59px;
     display: inline-flex;
 }
 .rating .col-left .rate-flex .rate h1 span{
     color: rgba(255, 255, 255, 0.75); 
     font-size: 18px; 
     line-height: 27px;
 }
 .rating .col-left .rate-flex .rate h3{
     color: rgba(255, 255, 255, 0.75); 
     font-size: 20px; 
     font-weight: 700; 
     line-height: 29px;
 }
 /*RATING END*/

 /*QUESTION ANSWER START*/
.faqs{
    background: #F9F9F9;
}
.faqs .content{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.faqs .content .content-title{
   font-size: 35px;
}
.faqs .content .col-left,
.faqs .content .col-right{
    position: relative;
    width: 100%;
}
.faqs .content .col-left.paragraph-text{
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
    text-align: justify;
} 
.faqs .content .col-left1 img{
    position: relative;
    width: 520px;
    height: 285px;
    border-radius: 10px;
}
.faqs .content .col-right .qa{
    width: 590px; 
    padding: 20px; 
    background: white; 
    justify-content: space-between; 
    align-items: center; 
    display: flex;
    margin-bottom: 28px;
}
/*QUESTION ANSWER END*/

/*FOOTER START*/
.foot{
    background: #272635;
}
.foot .logo{
  color: #fff;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
}
.foot .span{
  color: gray;
}
.foot .content{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.foot .col-left .wcu-flex{
    position: relative;
}
.foot .col-left .wcu-flex .rate{
    display: inline-block;
    margin-right: 80px;
    margin-left: 50px;
    margin-bottom: 20px
}
.foot .col-left .wcu-flex .rate .paragraph-text{
    color: rgba(255, 255, 255, 0.75);
}
.foot .col-left .wcu-flex .rate h1{
    font-size: 45px;
    color: white;
    font-weight: 700; 
    line-height: 59px;
    display: inline-block;
}
.foot .col-left .wcu-flex .rate h1 span{
    color: rgba(255, 255, 255, 0.75); 
    font-size: 18px; 
    line-height: 27px;
}
.foot .col-left .wcu-flex .rate h3{
    color: white; 
    font-size: 25px;
    font-weight: 700; 
    line-height: 29px;
}
.foot .fas{
    color: white; 
    font-size: 20px;
}
.foot .foots{
    width: 100%;
    align-self: stretch;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px; 
    padding-bottom: 30px;
    border-top: 0.50px rgba(255, 255, 255, 0.25) solid; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
}
.foot .foots .div{
    flex: 1 1 0;
    text-align: center; 
    color: white; 
    font-size: 14px; 
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 24px; 
    letter-spacing: 0.84px; 
    word-wrap: break-word;
}
/*FOOTER END*/

@media(max-width: 1340px) {
    header{
        padding: 12px 20px;
    }
    header.sticky{
        padding: 12px 20px;
    }
    header .navigation{
        display: none;
    }
    header .con{
        display: none;
    }
    header .menu-btn{
        display: block;
        margin-right: 5px;
    }
    section{
        padding: 80px 20px;
    }
    .main .content h2{
        font-size: 2.5em;
    }
    .about .content{
        flex-direction: column;
    }
    .about .content .column{
        position: relative;
        width: 100%;
    }
    .about .content .column .img-card .wrap{
        height: 310px;
        width: 210px;
    }
    .about .content .column .img-card .wrap-1{
        height: 200px;
        width: 180px;
    }
    .about .content .column .img-card{
        margin-bottom: 450px;
    }
    .services .content{
        flex-direction: column;
    }
    .services .content .column{
        position: relative;
        width: 100%;
        display: inline-block;
    }
    .services .content .col-right{
        margin-top: 40px;
    }
    .services .content .column1 .img-card img,
    .services .content .column2 .img-card img{
        width: 330px;
        flex-direction: column;
    }
    .services .content .column1 .textbox,
    .services .content .column2 .textbox{
        display: inline-block;
        
    }
    .services 
    .textbox {
        position: none;
        margin-top: 270px;
        margin-left: -0.5px;
        width: 98%;
    }
    .save .content{
        flex-direction: column;
    }
    .save .content .column{
        position: relative;
        width: 100%;
    }
    .save .content .col-left .img-card .uno{
/*         height: 400px; */
        /* width: 48vh; */
        border-radius: 10px;
        margin-left: 5px;
    }
    .save .content .col-left .img-card .dos{
/*         height: 535px; */
        /* width: 40vh; */
        border-radius: 10px;
        margin-left: -40vh;
        margin-top: 65vh;
    }
    .save .content .col-left .img-card .tres{
/*         height: 400; */
        object-fit: cover;
        border-radius: 10px;
        margin-top: 150vh; 
        /* width: 48vh; */
        margin-left: -41vh;
    }
    .save .content .col-right{
        margin-top: 145vh;
        margin-left: 20px;
    } 
    .save .content .col-right .reveal{
        padding-left: 10px;
    } 
    .save .content .col-left .mes {
        margin-top: 205vh; 
        padding-right: 155px;
        margin-left: -330px;
        border: none;
    }
    iframe {
        width: 48vh;
        margin-left: -4px;
    }
    .wcu .content{
        flex-direction: column;
    }
    .wcu .content .column{
        position: relative;
        width: 100%;
        display: inline-block;
    }
    .wcu .content .col-left1 img{
        height: 250px;
        width: 48vh;
        border-radius: 10px;
    }
    .wcu .content .col-right2{
        margin-left: -10px;
    }
    .wcu .content .col-right2 .textbox{
        margin-bottom: 20px;
    }
    .vision .content{
        flex-direction: column;
    }
    .vision .content .column{
        position: relative;
        width: 100%;
    }
    .vision .content .column .img-card img{
        height: 450px;
    }
    .vision .content .col-right{
        margin-top: 40px;
    }
    .vision .content .col-left1 .textboxs{
        margin-left: -15px;
    }
    .hworks .content{
    flex-direction: column;
    }
    .hworks .content .column{
        position: relative;
        width: 100%;
        display: inline-block;
    }
    .hworks .content .img-card img{
        position: relative;
        width: 100%;
    }
    .hworks .wcu-flex .textbox{
        margin-top: 18px;
    }
    .testimonials .wcu-flex .textbox{
        margin-bottom: 20px;
    }
    .rating .col-left .rate-flex .rate{
        margin-bottom: 40px;
    }
    .faqs .content{
    flex-direction: column;
    }
    .faqs .content .column{
        position: relative;
        width: 100%;
        display: inline-block;
    }
    .faqs .content .img-card img{
        position: relative;
        width: 100%;
    }
    .faqs .content .img-card .qa{
        position: relative;
        width: 100%;
        padding: 35;
    }
    .faqs .content .img-card i{
        position: relative;
        display: inline-flex;
    }
}

.scrollToTop-btn{
    z-index: 999;
    position: fixed;
    background: #235bf6;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}

.scrollToTop-btn.active{
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
